.App {
  width: 100vw;
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100%;
  width: 100%;

  .App-header {
  }
  .App-main {
    padding: 24px;
    flex-grow: 1;
  }
  .App-footer {
  }
}
